<div>
  <!-- <button kendoButton (click)="onButtonClick()" [primary]="true">
    Click Here
  </button>   -->

  <kendo-textbox-container floatingLabel="Your Full Name">    
    <input class="text-box" kendoTextBox>
    <kendo-datepicker 
      [formatPlaceholder]="{year: 'Y', month:'M', day:'D'}" 
      [navigation]="false" 
      [readonly]="false"      
      [min]="min" 
      [max]="max" 
      (click)="dateChange()" 
      [format]="'dd-MM-yyyy'">
    </kendo-datepicker>
  </kendo-textbox-container>
  <mat-form-field>
      <mat-label>Cars</mat-label>
      <mat-select disableOptionCentering panelClass ="mat-select-push-below" matNativeControl required>
        <mat-option value="toyota">Toyota</mat-option>
        <mat-option value="toyotaA">Toyota A</mat-option>
        <mat-option value="toyotaB">Toyota B</mat-option>
      </mat-select>
    </mat-form-field>
</div>
<div class="table-container">
  <kendo-grid class="table-dimension"
    [style.height.%]="100"
    [data]="sampleProducts" 
    [resizable]="true" 
    [pageSize]="5"
    [reorderable]="true">    
      <kendo-grid-column 
        [headerStyle]="{'background-color':'rgb(59, 148, 226)', 'color': '#fff'}"
        title="ID" 
        field="ProductID" 
        width="40">
      </kendo-grid-column>
      <kendo-grid-column 
        [headerStyle]="{'background-color':'rgb(59, 148, 226)', 'color': '#fff'}"
        title="Product Name" 
        field="ProductName" 
        width="120">
      </kendo-grid-column>
      <kendo-grid-column 
        [headerStyle]="{'background-color':'rgb(59, 148, 226)', 'color': '#fff'}"
        title="Supplier ID" 
        field="SupplierID" 
        width="100">
      </kendo-grid-column>
      <kendo-grid-column 
        [headerStyle]="{'background-color':'rgb(59, 148, 226)', 'color': '#fff'}"
        title="Category" 
        field="Category.CategoryName" 
        width="100">
      </kendo-grid-column>
      <kendo-grid-column 
        [headerStyle]="{'background-color':'rgb(59, 148, 226)', 'color': '#fff'}"
        title="Description" 
        field="Category.Description" 
        width="150">
      </kendo-grid-column>
  </kendo-grid>
</div>
<router-outlet></router-outlet>