<div fxLayout="column" fxLayoutAlign="center center">
  <!-- <button kendoButton (click)="onButtonClick()" [primary]="true">
    Click Here
  </button>   -->
  <kendo-textbox-container floatingLabel="Your Full Name">
    <input class="text-box" kendoTextBox>
    <kendo-datepicker 
    [formatPlaceholder]="{year: 'Y', month:'M', day:'D'}" 
    [navigation]="false" 
    [readonly]="false"      
    [min]="min" 
    [max]="max" 
    (click)="dateChange()" 
    [format]="'dd-MM-yyyy'">
    </kendo-datepicker>
  </kendo-textbox-container>
  <kendo-grid [height]="350" [kendoGridBinding]="sampleProducts" [resizable]="true" [reorderable]="true">
    <kendo-grid-column-group title="Products Information">
      <kendo-grid-column title="ID" field="ProductID">
      </kendo-grid-column>
      <kendo-grid-column title="Product Name" field="ProductName">
      </kendo-grid-column>
      <kendo-grid-column title="Supplier ID" field="SupplierID">
      </kendo-grid-column>
      <kendo-grid-column title="Category" field="Category.CategoryName">
      </kendo-grid-column>
      <kendo-grid-column title="Description" field="Category.Description">
      </kendo-grid-column>
    </kendo-grid-column-group>
  </kendo-grid>
</div>
<router-outlet></router-outlet>